.cardFooter {
    background-color: #ffffff;
    border-radius: 50px 50px 0px 0px;
    width: 100%;
    min-height: 40vh;
    border: 1px solid #E7E6E7;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    background: #fff;
}
.tapOverplay{
    display: block;
    position: relative;
    height: 100%;
    margin: 0 auto;
    padding: 15px 5px;
}
.footer {
    color: #999999;
    margin: 0 auto;
    font-size: 8px;
}
.jobStart {
    font-weight: 500;
    font-size: 10px;
    line-height: 25px;
    background: #06CEAA;
    color: #fff;
    padding: 2px 3px;
    width: fit-content;
    margin-top: 10px;
}
.result {
    margin-top: 12px !important;
    color: #555555 !important;
    font-weight: 500;
    font-size: 10px !important;
    float:left
}
.jobName {
    font-size: 18px !important;
    line-height: 32px !important;
    letter-spacing: 0.1px !important;
    color: #000000!important;
    float:left
}
.result-pay-ul {
	list-style: none;
	padding: 0;
  margin: 0;
}
.result-pay-li {
	display: inline-block;
	text-align: center;
  margin-right: 10px;
  line-height: 1;
}
.result-pay-container {
    
    
	justify-content: space-between;
	margin-bottom: 8px;
}

.result-pay-average {
	background: #FFEDC4;
	color: #E86F00;
	border-radius: 10px;
	padding: 10px;
	font-weight: 500;
	font-size: 10px;
    line-height: 14px;
    float:left;
}
.result-pay-offer {
	background: #E3FFFA;
	color: #fff;
	border-radius: 10px;	
	font-weight: 500;
	font-size: 10px;
	line-height: 14px;
}

.result-pay-offer-inside1 {
	background: #06CEAA;
	display: inline-block;
	padding: 13px 10px 9px;
	border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.result-pay-offer-inside2 {
	display: inline-block;
	padding: 5px 0 5px 10px;
}
.small-desc {
	font-size: 9px;
line-height: 9px;
color: #000000;
}
.iconContainer{
    float:left
}
.result- {
	margin-left: 21px;
	color: #E86F00;
	display: block;
    line-height: 1;
    
}

.result-star-ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline-block;
	margin-left: 3px;
}

.result-star-li {
	display: inline-block;
	text-align: center;
	margin-right: 3px;
}
.result-facilityName {
	color: #878787;
	font-weight: 500;
font-size: 11px;
}

.result-miles {
	background: #FFEDC4;
	color: #E86F00;
	padding: 2px 5px;
	font-weight: 500;
	font-size: 9px;
line-height: 21px;
margin-left: 5px;
}
.content {
    float: left;
}

