.heading {background: linear-gradient(210.23deg, #E45D5A 10.29%, #A13AAD 88.89%);
min-height: 100%;
/* height: 100%; */
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: calc(10px + 2vmin);
color: white;
padding: 0px 50px 0px 50px;
position: fixed;
width: 100%;
left: 0px;
top: 0px;
}
.SplashHeading {
font-weight: 500;
font-size: 20px;
margin-top: 50px;
color: #fff;
line-height: 23px;
margin-bottom: 20px;
text-align: center;
margin-left: 0px;
margin-right: 70px;
}
.AllowSubHeading {
font-weight: 500;
font-size: 16px;
margin: 0px 70px 48px 0px;
color: #fff;
text-align: center;
line-height: 22px;
}
.muibutton{
font-weight: bold;
text-transform: capitalize;
color: #F94378;
font-size: 18px;
line-height: 48px;
background: #FFFFFF;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;
padding: 0px;
padding: 5px 60px 5px 60px;
margin: 0px 80px 0px 0px;
}
