.heading {
color: #000000;
    padding: 30px 100px 0px 0px;
    font-size: 34px;
    margin-top: 0px;
    font-weight: 500;
    line-height: 40px;
    margin-left: 0px;
    margin-bottom: 0px;
    display:flex
}
.preheading {
    display:flex
}
.inputFieldLabel{
    color: #000000;
    width: 100%;
    display: inline-block;
    font-size: 13px;
    font-weight: 550;
    line-height: 15px;
    margin-bottom: 8px;
    display: flex
}
.muilabelbutton{
    display:flex;
    ;
}
.muilabelbutton1{
   padding:10px 40px 0px 40px;
   line-height: 32px;
   color: #D2357E;
   background-color: #ffeff3;
}
.muilabelbutton2{
padding:10px 40px 0px 40px;
display:flex;
line-height: 32px
}
.location {
    background-color:#f2f2f2;
    padding: 8px 210px 10px 0px;
    margin: 10px 0px 10px 27px;
    float: left;
}
.locationsp{
    font-size: 12px;
    line-height: 16px;
    margin: 6px 0px 0px;
    float: left;
}
.title{
    float:left;
}
.muibutton{
    font-weight: bold;
    text-transform: capitalize;
    color: #F94378;
    font-size: 18px;
    line-height: 48px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 0px;
    padding: 5px 60px 5px 60px;
    margin: 60px 80px 0px 50px;
    }