 
 .trigger {
    font-size: 18px;
    line-height: px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }
 .trigger:hover {
    color: #fff;
  }
  
 .logo {
    height: 20px;
    margin: 10px;
  }
  .head{
    padding:20px 10px 10px 0px;
    float:right;
    height:20px;
    font-size: 12px;
  }
  .ant-layout-sider{
    position:relative;
    background: #fff;
    transition: all 0.2s
  }
  .ant-page-header-heading-title {
    font-size: 20px;
  }
  .ant-breadcrumb > span:last-child {
    font-size: 12px;
    color:#262626;
  }
  .ant-breadcrumb {
    font-size: 12px;
  }
  .ant-table-thead > tr > th .ant-table-header-column {
    color:#595959;
  }
  .ant-input-affix-wrapper {
    margin: -4px 0px 15px 2px
  }
  .ant-table table {
    border-style:none;
  }
  .ant-pagination {
    padding: 0px 0px 60px 0px;
  }
.ant-layout-footer {
  font-size: 12px;
  background-color: #f0f2f5 !important;
}
.ant-page-header-heading-title {
  font-weight: 400
}
