.rightMenu {
    float: right;
    margin:0px 20px 0px 0px;
}

.rightMenu ul {
   
    display:inline-flex;
   
}

.rightMenu li:nth-child(1) {
    padding: 6px 30px 2px 0px;
}
.rightMenu li{
    list-style: none;
    height: 50px;
    padding:2px 5px 0px 6px;
}
